@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Oswald%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Open+Sans%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-2MHxuszbw: 2rem;
  --plasmic-token-h-1: var(--token-2MHxuszbw);
  --token-fEH6WrN-X: 1.88rem;
  --plasmic-token-h-2: var(--token-fEH6WrN-X);
  --token-Rrd9c8WrQ: 1.5rem;
  --plasmic-token-h-3: var(--token-Rrd9c8WrQ);
  --token-04ajQz-J6: Open Sans;
  --plasmic-token-default: var(--token-04ajQz-J6);
  --token-nrbVkyncv: Source Sans Pro;
  --plasmic-token-title: var(--token-nrbVkyncv);
  --token-rXKgNWohu: 1rem;
  --plasmic-token-normal: var(--token-rXKgNWohu);
  --token-q-pt3uES7: 0.75rem;
  --plasmic-token-meta: var(--token-q-pt3uES7);
  --token-oL4jBQYQ7: 4px;
  --plasmic-token-sm: var(--token-oL4jBQYQ7);
  --token-n6bJ9l3LK: 8px;
  --plasmic-token-md: var(--token-n6bJ9l3LK);
  --token-sidvsJqxm: 12px;
  --plasmic-token-lg: var(--token-sidvsJqxm);
  --token-UtVLBbMd2: 18px;
  --plasmic-token-bg: var(--token-UtVLBbMd2);
  --token-KXz4admYf: 24px;
  --plasmic-token-xl: var(--token-KXz4admYf);
  --token-MvbL_CBMF: 1.5;
  --plasmic-token-wide: var(--token-MvbL_CBMF);
  --token-ngn0tetV4: 1;
  --plasmic-token-main: var(--token-ngn0tetV4);
}

.plasmic_default_styles {
  --mixin-RseGJg-cFGy-E_font-family: "Inter";
  --mixin-RseGJg-cFGy-E_font-size: 16px;
  --mixin-RseGJg-cFGy-E_font-weight: 400;
  --mixin-RseGJg-cFGy-E_font-style: normal;
  --mixin-RseGJg-cFGy-E_color: #535353;
  --mixin-RseGJg-cFGy-E_text-align: left;
  --mixin-RseGJg-cFGy-E_text-transform: none;
  --mixin-RseGJg-cFGy-E_line-height: 1.5;
  --mixin-RseGJg-cFGy-E_letter-spacing: normal;
  --mixin-RseGJg-cFGy-E_white-space: pre-wrap;
  --mixin-RseGJg-cFGy-E_user-select: text;
  --mixin-RseGJg-cFGy-E_text-decoration-line: none;
  --mixin-RseGJg-cFGy-E_text-overflow: clip;
  --mixin-REJBRWWwP2ZQ1_color: #000000;
  --mixin-REJBRWWwP2ZQ1_font-weight: 900;
  --mixin-REJBRWWwP2ZQ1_font-size: 72px;
  --mixin-REJBRWWwP2ZQ1_line-height: 1;
  --mixin-REJBRWWwP2ZQ1_letter-spacing: -4px;
  --mixin-z87D64YMJHiom_font-family: "Inter";
  --mixin-z87D64YMJHiom_color: #000000;
  --mixin-z87D64YMJHiom_font-size: 48px;
  --mixin-z87D64YMJHiom_font-weight: 700;
  --mixin-z87D64YMJHiom_letter-spacing: -1px;
  --mixin-z87D64YMJHiom_line-height: 1.1;
  --mixin-wEVxjjt_l_B2V_color: #0070f3;
  --mixin-N62mvk1MiNKbz_font-family: "Inter";
  --mixin-N62mvk1MiNKbz_color: #000000;
  --mixin-N62mvk1MiNKbz_font-size: 32px;
  --mixin-N62mvk1MiNKbz_font-weight: 600;
  --mixin-N62mvk1MiNKbz_letter-spacing: -0.8px;
  --mixin-N62mvk1MiNKbz_line-height: 1.2;
  --mixin-1fTayzDmhopfk_font-family: "Inter";
  --mixin-1fTayzDmhopfk_color: #000000;
  --mixin-1fTayzDmhopfk_font-size: 24px;
  --mixin-1fTayzDmhopfk_font-weight: 600;
  --mixin-1fTayzDmhopfk_letter-spacing: -0.5px;
  --mixin-1fTayzDmhopfk_line-height: 1.3;
  --mixin-IXmvV4UGSX-mK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-IXmvV4UGSX-mK_border-bottom-color: #dddddd;
  --mixin-IXmvV4UGSX-mK_border-bottom-style: solid;
  --mixin-IXmvV4UGSX-mK_border-bottom-width: 1px;
  --mixin-IXmvV4UGSX-mK_border-left-color: #dddddd;
  --mixin-IXmvV4UGSX-mK_border-left-style: solid;
  --mixin-IXmvV4UGSX-mK_border-left-width: 1px;
  --mixin-IXmvV4UGSX-mK_border-right-color: #dddddd;
  --mixin-IXmvV4UGSX-mK_border-right-style: solid;
  --mixin-IXmvV4UGSX-mK_border-right-width: 1px;
  --mixin-IXmvV4UGSX-mK_border-top-color: #dddddd;
  --mixin-IXmvV4UGSX-mK_border-top-style: solid;
  --mixin-IXmvV4UGSX-mK_border-top-width: 1px;
  --mixin-IXmvV4UGSX-mK_border-bottom-left-radius: 3px;
  --mixin-IXmvV4UGSX-mK_border-bottom-right-radius: 3px;
  --mixin-IXmvV4UGSX-mK_border-top-left-radius: 3px;
  --mixin-IXmvV4UGSX-mK_border-top-right-radius: 3px;
  --mixin-IXmvV4UGSX-mK_font-family: "Inconsolata";
  --mixin-IXmvV4UGSX-mK_padding-bottom: 1px;
  --mixin-IXmvV4UGSX-mK_padding-left: 4px;
  --mixin-IXmvV4UGSX-mK_padding-right: 4px;
  --mixin-IXmvV4UGSX-mK_padding-top: 1px;
  --mixin-gOiDS4_OCrdC__border-left-color: #dddddd;
  --mixin-gOiDS4_OCrdC__border-left-style: solid;
  --mixin-gOiDS4_OCrdC__border-left-width: 3px;
  --mixin-gOiDS4_OCrdC__color: #888888;
  --mixin-gOiDS4_OCrdC__padding-left: 10px;
  --mixin-zlTaCOGpvXR04_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zlTaCOGpvXR04_border-bottom-color: #dddddd;
  --mixin-zlTaCOGpvXR04_border-bottom-style: solid;
  --mixin-zlTaCOGpvXR04_border-bottom-width: 1px;
  --mixin-zlTaCOGpvXR04_border-left-color: #dddddd;
  --mixin-zlTaCOGpvXR04_border-left-style: solid;
  --mixin-zlTaCOGpvXR04_border-left-width: 1px;
  --mixin-zlTaCOGpvXR04_border-right-color: #dddddd;
  --mixin-zlTaCOGpvXR04_border-right-style: solid;
  --mixin-zlTaCOGpvXR04_border-right-width: 1px;
  --mixin-zlTaCOGpvXR04_border-top-color: #dddddd;
  --mixin-zlTaCOGpvXR04_border-top-style: solid;
  --mixin-zlTaCOGpvXR04_border-top-width: 1px;
  --mixin-zlTaCOGpvXR04_border-bottom-left-radius: 3px;
  --mixin-zlTaCOGpvXR04_border-bottom-right-radius: 3px;
  --mixin-zlTaCOGpvXR04_border-top-left-radius: 3px;
  --mixin-zlTaCOGpvXR04_border-top-right-radius: 3px;
  --mixin-zlTaCOGpvXR04_font-family: "Inconsolata";
  --mixin-zlTaCOGpvXR04_padding-bottom: 3px;
  --mixin-zlTaCOGpvXR04_padding-left: 6px;
  --mixin-zlTaCOGpvXR04_padding-right: 6px;
  --mixin-zlTaCOGpvXR04_padding-top: 3px;
  --mixin-X44F9RzYjYWsk_display: flex;
  --mixin-X44F9RzYjYWsk_flex-direction: column;
  --mixin-X44F9RzYjYWsk_align-items: stretch;
  --mixin-X44F9RzYjYWsk_justify-content: flex-start;
  --mixin-X44F9RzYjYWsk_list-style-position: outside;
  --mixin-X44F9RzYjYWsk_padding-left: 40px;
  --mixin-X44F9RzYjYWsk_position: relative;
  --mixin-X44F9RzYjYWsk_list-style-type: disc;
  --mixin-xTj9xRTALrE81_display: flex;
  --mixin-xTj9xRTALrE81_flex-direction: column;
  --mixin-xTj9xRTALrE81_align-items: stretch;
  --mixin-xTj9xRTALrE81_justify-content: flex-start;
  --mixin-xTj9xRTALrE81_list-style-position: outside;
  --mixin-xTj9xRTALrE81_padding-left: 40px;
  --mixin-xTj9xRTALrE81_position: relative;
  --mixin-xTj9xRTALrE81_list-style-type: decimal;
  --mixin-04WOd9mI-1N63_font-family: "Inter";
  --mixin-04WOd9mI-1N63_color: #000000;
  --mixin-04WOd9mI-1N63_font-size: 20px;
  --mixin-04WOd9mI-1N63_font-weight: 600;
  --mixin-04WOd9mI-1N63_letter-spacing: -0.3px;
  --mixin-04WOd9mI-1N63_line-height: 1.5;
  --mixin-0k8U8D0Tuh47j_font-family: "Inter";
  --mixin-0k8U8D0Tuh47j_color: #000000;
  --mixin-0k8U8D0Tuh47j_font-size: 16px;
  --mixin-0k8U8D0Tuh47j_font-weight: 600;
  --mixin-0k8U8D0Tuh47j_line-height: 1.5;
  --mixin-fF8sxdQ92TJQG_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-RseGJg-cFGy-E_font-family);
  font-size: var(--mixin-RseGJg-cFGy-E_font-size);
  font-weight: var(--mixin-RseGJg-cFGy-E_font-weight);
  font-style: var(--mixin-RseGJg-cFGy-E_font-style);
  color: var(--mixin-RseGJg-cFGy-E_color);
  text-align: var(--mixin-RseGJg-cFGy-E_text-align);
  text-transform: var(--mixin-RseGJg-cFGy-E_text-transform);
  line-height: var(--mixin-RseGJg-cFGy-E_line-height);
  letter-spacing: var(--mixin-RseGJg-cFGy-E_letter-spacing);
  white-space: var(--mixin-RseGJg-cFGy-E_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-REJBRWWwP2ZQ1_color);
  font-weight: var(--mixin-REJBRWWwP2ZQ1_font-weight);
  font-size: var(--mixin-REJBRWWwP2ZQ1_font-size);
  line-height: var(--mixin-REJBRWWwP2ZQ1_line-height);
  letter-spacing: var(--mixin-REJBRWWwP2ZQ1_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-z87D64YMJHiom_font-family);
  color: var(--mixin-z87D64YMJHiom_color);
  font-size: var(--mixin-z87D64YMJHiom_font-size);
  font-weight: var(--mixin-z87D64YMJHiom_font-weight);
  letter-spacing: var(--mixin-z87D64YMJHiom_letter-spacing);
  line-height: var(--mixin-z87D64YMJHiom_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-wEVxjjt_l_B2V_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-N62mvk1MiNKbz_font-family);
  color: var(--mixin-N62mvk1MiNKbz_color);
  font-size: var(--mixin-N62mvk1MiNKbz_font-size);
  font-weight: var(--mixin-N62mvk1MiNKbz_font-weight);
  letter-spacing: var(--mixin-N62mvk1MiNKbz_letter-spacing);
  line-height: var(--mixin-N62mvk1MiNKbz_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-1fTayzDmhopfk_font-family);
  color: var(--mixin-1fTayzDmhopfk_color);
  font-size: var(--mixin-1fTayzDmhopfk_font-size);
  font-weight: var(--mixin-1fTayzDmhopfk_font-weight);
  letter-spacing: var(--mixin-1fTayzDmhopfk_letter-spacing);
  line-height: var(--mixin-1fTayzDmhopfk_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-IXmvV4UGSX-mK_background);
  font-family: var(--mixin-IXmvV4UGSX-mK_font-family);
  border-radius: var(--mixin-IXmvV4UGSX-mK_border-top-left-radius)
    var(--mixin-IXmvV4UGSX-mK_border-top-right-radius)
    var(--mixin-IXmvV4UGSX-mK_border-bottom-right-radius)
    var(--mixin-IXmvV4UGSX-mK_border-bottom-left-radius);
  padding: var(--mixin-IXmvV4UGSX-mK_padding-top)
    var(--mixin-IXmvV4UGSX-mK_padding-right)
    var(--mixin-IXmvV4UGSX-mK_padding-bottom)
    var(--mixin-IXmvV4UGSX-mK_padding-left);
  border-top: var(--mixin-IXmvV4UGSX-mK_border-top-width)
    var(--mixin-IXmvV4UGSX-mK_border-top-style)
    var(--mixin-IXmvV4UGSX-mK_border-top-color);
  border-right: var(--mixin-IXmvV4UGSX-mK_border-right-width)
    var(--mixin-IXmvV4UGSX-mK_border-right-style)
    var(--mixin-IXmvV4UGSX-mK_border-right-color);
  border-bottom: var(--mixin-IXmvV4UGSX-mK_border-bottom-width)
    var(--mixin-IXmvV4UGSX-mK_border-bottom-style)
    var(--mixin-IXmvV4UGSX-mK_border-bottom-color);
  border-left: var(--mixin-IXmvV4UGSX-mK_border-left-width)
    var(--mixin-IXmvV4UGSX-mK_border-left-style)
    var(--mixin-IXmvV4UGSX-mK_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-gOiDS4_OCrdC__color);
  padding-left: var(--mixin-gOiDS4_OCrdC__padding-left);
  border-left: var(--mixin-gOiDS4_OCrdC__border-left-width)
    var(--mixin-gOiDS4_OCrdC__border-left-style)
    var(--mixin-gOiDS4_OCrdC__border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-zlTaCOGpvXR04_background);
  font-family: var(--mixin-zlTaCOGpvXR04_font-family);
  border-radius: var(--mixin-zlTaCOGpvXR04_border-top-left-radius)
    var(--mixin-zlTaCOGpvXR04_border-top-right-radius)
    var(--mixin-zlTaCOGpvXR04_border-bottom-right-radius)
    var(--mixin-zlTaCOGpvXR04_border-bottom-left-radius);
  padding: var(--mixin-zlTaCOGpvXR04_padding-top)
    var(--mixin-zlTaCOGpvXR04_padding-right)
    var(--mixin-zlTaCOGpvXR04_padding-bottom)
    var(--mixin-zlTaCOGpvXR04_padding-left);
  border-top: var(--mixin-zlTaCOGpvXR04_border-top-width)
    var(--mixin-zlTaCOGpvXR04_border-top-style)
    var(--mixin-zlTaCOGpvXR04_border-top-color);
  border-right: var(--mixin-zlTaCOGpvXR04_border-right-width)
    var(--mixin-zlTaCOGpvXR04_border-right-style)
    var(--mixin-zlTaCOGpvXR04_border-right-color);
  border-bottom: var(--mixin-zlTaCOGpvXR04_border-bottom-width)
    var(--mixin-zlTaCOGpvXR04_border-bottom-style)
    var(--mixin-zlTaCOGpvXR04_border-bottom-color);
  border-left: var(--mixin-zlTaCOGpvXR04_border-left-width)
    var(--mixin-zlTaCOGpvXR04_border-left-style)
    var(--mixin-zlTaCOGpvXR04_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-X44F9RzYjYWsk_display);
  flex-direction: var(--mixin-X44F9RzYjYWsk_flex-direction);
  align-items: var(--mixin-X44F9RzYjYWsk_align-items);
  justify-content: var(--mixin-X44F9RzYjYWsk_justify-content);
  list-style-position: var(--mixin-X44F9RzYjYWsk_list-style-position);
  padding-left: var(--mixin-X44F9RzYjYWsk_padding-left);
  position: var(--mixin-X44F9RzYjYWsk_position);
  list-style-type: var(--mixin-X44F9RzYjYWsk_list-style-type);
  flex-column-gap: var(--mixin-X44F9RzYjYWsk_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-xTj9xRTALrE81_display);
  flex-direction: var(--mixin-xTj9xRTALrE81_flex-direction);
  align-items: var(--mixin-xTj9xRTALrE81_align-items);
  justify-content: var(--mixin-xTj9xRTALrE81_justify-content);
  list-style-position: var(--mixin-xTj9xRTALrE81_list-style-position);
  padding-left: var(--mixin-xTj9xRTALrE81_padding-left);
  position: var(--mixin-xTj9xRTALrE81_position);
  list-style-type: var(--mixin-xTj9xRTALrE81_list-style-type);
  flex-column-gap: var(--mixin-xTj9xRTALrE81_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-04WOd9mI-1N63_font-family);
  color: var(--mixin-04WOd9mI-1N63_color);
  font-size: var(--mixin-04WOd9mI-1N63_font-size);
  font-weight: var(--mixin-04WOd9mI-1N63_font-weight);
  letter-spacing: var(--mixin-04WOd9mI-1N63_letter-spacing);
  line-height: var(--mixin-04WOd9mI-1N63_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-0k8U8D0Tuh47j_font-family);
  color: var(--mixin-0k8U8D0Tuh47j_color);
  font-size: var(--mixin-0k8U8D0Tuh47j_font-size);
  font-weight: var(--mixin-0k8U8D0Tuh47j_font-weight);
  line-height: var(--mixin-0k8U8D0Tuh47j_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-fF8sxdQ92TJQG_color);
}
